@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Share&display=swap');
html,
body {
    min-height: 100%;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #deddf7 0%, #e6ebdf 53%, #98a1bb 100%);
    color: #000000f1;
    font-family: 'Oxygen', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grad-blue {
    background: rgb(130, 168, 176);
    background: linear-gradient(175deg, rgba(130, 168, 176, 1) 0%, rgba(0, 59, 89, 1) 100%);
    background-size: cover;
}

.transparent-div {
    box-shadow: 0 0 1rem 0 rgba(34, 33, 33, 0.2);
    border-radius: 13px 13px 0px 0px;
    background-color: #0c203627;
    backdrop-filter: blur(8px);
    margin: 0;
}

.transparent-cards {
    box-shadow: 0 0 1rem 0 rgba(34, 33, 33, 0.2);
    border-radius: 13px 13px 13px 13px;
    background-color: #0c203627;
    backdrop-filter: blur(8px);
    margin: 0;
}

.transparent-nav {
    background-color: #0c203627;
    margin: 0;
}

.transparent-modal {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #ceceffde 0%, #e6ebdff1 53%, #d4f1ffd8 100%);
    margin: 0;
}

.zindex {
    z-index: 1000;
}

.user-box {
    box-shadow: 0 0 1rem 0 rgba(41, 41, 41, 0.2);
    border-radius: 13px;
    background-color: #031f3d27;
    backdrop-filter: blur(8px);
    margin: 0;
    padding: 16px;
}

.round-border {
    border-radius: 5px;
}


/* NOTE. FONT Family */

.font-caps {
    font-family: 'Bebas Neue', cursive;
}

.arima-font {
    font-family: 'Arima Madurai', cursive;
}

.poiret-font {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.share-font {
    font-family: 'Share', cursive;
    font-size: 20px;
}

.cousine-font {
    font-family: 'Cousine', monospace;
}


/* NOTE. FONT Size */

.font-size-md {
    font-size: 24px;
}

.font-size-title {
    font-size: 32px;
}

.font-size-lg {
    font-size: 78px;
}

.font-size-sm {
    font-size: 20px;
}


/* NOTE. FONT COLOR*/

.black-txt {
    color: black;
}

.white-txt {
    color: white;
}

.red-txt {
    color: red;
}

.orange-txt {
    background: -webkit-linear-gradient(#fdc9c0, #c98c1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* NOTE. POSITIONS */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.navbar-center {
    position: absolute;
    left: 40%;
    transform: translatex(-50%);
}

.padding-top-sm {
    padding-top: 20px;
}

.padding-top-md {
    padding-top: 100px;
}

.padding-left-sm {
    padding-left: 10px;
}

.padding-right-md {
    padding-right: 25px;
}

.extra-box-space {
    padding: 40px;
}

table {
    table-layout: auto;
    width: 150px;
}

.icon-nav {
    padding-left: 15px;
}

.expand-icon:hover {
    transform: scale(1.2);
}